@model News_Project.Models.Article

@{
    ViewBag.Title = "Show";
}

<h1>Afisare stire</h1>


<div class="panel panel-default">
    @Html.Partial("ArticleInfo", Model)
    <div class="panel-footer">
        <a class="btn btn-warning" href="/Article/Edit/@Model.Id">Modifica stire</a>
        <br />
    </div>
</div>


@using (Html.BeginForm(actionName: "Delete", controllerName: "Article", method: FormMethod.Post, routeValues: new { id = @Model.Id }))
{
    <!--@Html.HiddenFor(m => m.Id) -->

    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <br />
    <button class="btn btn-danger" type="submit">Sterge stire</button>

}

<br />
<hr />
<a class="btn btn-success" href="/Article/Index">Inapoi la stiri</a>
<br />
<br />
<a class="btn btn-info" href="/Article/New">Adauga stire</a>
<br />


