@model News_Project.Models.Article


<div class="panel-heading">@Model.Title</div>
<div class="panel-body">
    <strong>Continut stire:</strong> <p class="darkgray-text">@Model.Content</p>
    <br />
    <div class="panel-bottom">
        <div class="date">
            <span class="label label-success">@Model.Date</span>
        </div>
        <div class="category">
            <i class="glyphicon glyphicon-globe"></i> @Model.Category.CategoryName
        </div>
    </div>
</div>
